@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../ASSETS/background_operador_empilhadeira.png);
    background-size: 100%;
}

.voltar, img{
    background: none;
    border: none;
    width: 38px;
    display: block;

    cursor: pointer;
}

h1{
    margin-top: 0%;
    transition: 2s;
    text-align: center;
    color: rgb(255, 255, 255);

    text-shadow: 2px 2px 2px rgb(255, 251, 0);
}

.description{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    transition: 3s;
    color: white;
    display: block;
}


details{
    margin-top: 20px;
    text-align: center;
    user-select: none;
}

summary{
    color: white;
    font-size: 18px;
    transition: 2s;
    cursor: pointer;
    
}

summary:focus{
    color: rgb(74, 198, 255);
    transition: 0.5s;
}

p{
    color: rgb(204, 204, 204);
    margin: 7px;
    /* margin-left: 30px; */
    
}

.matricula{
    transition: 5s;
    top: 90%;
    right: 45%;
    text-align: center;
    display: inline;
    position: absolute;

    font-size: 15px;
    width: 170px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background: rgb(31, 0, 141);
    color: white;
    margin: auto;

    cursor: pointer;

    
    
}

@media (max-width: 600px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    body{
        font-family: 'Roboto', sans-serif;
        background-image: url(../ASSETS/background_operador_empilhadeira.png);
        background-size: 100%;
    }

    .voltar, img{
        background: none;
        border: none;
        width: 38px;
        display: block;
        cursor: pointer;
    }

    h1{
        margin-top: 0%;
        transition: 2s;
        text-align: center;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 2px rgb(0, 26, 255);
    }

    .description{
        margin: auto 5px 5px;
        margin-bottom: 20px;
        transition: 3s;
        color: white;
    }

    details{
        text-align: center;
        user-select: none;
    }

    summary{
        color: white;
        font-size: 18px;
        transition: 2s;
        cursor: pointer;
        
    }

    summary:focus{
        color: rgb(74, 198, 255);
        transition: 0.5s;
    }

    p{
        color: rgb(204, 204, 204);
        margin: 7px;
        /* margin-left: 30px; */
        
    }

    .matricula{
        transition: 5s;
        top: 90%;
        right: 27%;
        text-align: center;
        display: inline;
        position: absolute;

        font-size: 15px;
        width: 170px;
        height: 38px;
        border-radius: 5px;
        border: none;
        background: rgb(31, 0, 141);
        color: white;
        margin: auto;

        
        
    }
}
